*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size:24px;
}
.container{
    width:50%;
    margin: auto;
}
.row{
    margin: 50px 0 0;
}
input{
    width:430px;
    padding:8px 0;
    font-size: 20px;
}
input:focus{
    outline: none;
}
button{
    position: relative;
    top: -2px;
    padding:14px 12px;
    border: none;
    color:#fff;
    background: green;
    border-radius: 5px;
}
.fa-edit{
    color: blue;
}
.fa-trash{
    color: red;
}
td:first-child{
    width:500px;
}
td{
    width:100px;
    border: 1px solid greenyellow;
    border-collapse: collapse;
}
i{
    cursor: pointer;
}